<div class="container mx-auto max-w-md p-8 border border-gray-300 rounded-lg shadow-md my-10">
    <h1 class="text-2xl font-semibold text-center mb-6">Create an account</h1>
    
    <form [formGroup]="form" (ngSubmit)="submit()">

        <!-- Name Field -->
<div class="mb-4">
    <label for="name" class="block text-sm font-medium text-gray-700">Your name</label>
    <input formControlName="name" type="text" id="name" placeholder="Your name"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
  </div>
  
      
      <!-- Email Field -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Your email</label>
        <input formControlName="email" type="email" id="email" placeholder="name@company.com"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      
      <!-- Password Field -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input formControlName="password" type="password" id="password" placeholder="Password"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      
      <!-- Role Selection -->
      <div class="mb-4">
        <label for="role" class="block text-sm font-medium text-gray-700">Register as:</label>
        <select id="role" formControlName="role"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option value="" disabled>Select role</option>
          <option value="admin">Admin</option>
          <option value="teacher">Teacher</option>
          <option value="student">Student</option>
        </select>
      </div>
  
      <!-- Submit Button -->
      <div>
        <button type="submit"
          class="w-full bg-blue-600 text-white py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Create an account
        </button>
      </div>
    <!-- </div> -->
      
      <!-- Login Link -->
      <div class="text-center mt-4">
        <p class="text-sm">Already have an account? <a routerLink="/login" class="text-indigo-600 hover:underline">Login here</a></p>
      </div>
    </form>
  </div>
  